@page
@model Equimosis.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Sistema de Datación de Equimosis</h2>
<h3>Usuario</h3> 
<input name="user" type="text"  />
<h3>Contraseña</h3> 
<input name="password" type="password" />
<button>Iniciar sesión</button>
