@page
@model Equimosis.Pages.RegistrarCasoEquimosisModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistrarCasoEquimosis</title>
</head>
<body>
    <table style="width:100%;">
    <tr>
        <td>Color de piel</td>
        <td>
            <select id="skinColor">
                <option>Blanco</option>
                <option>Trigueño claro</option>
                <option>Trigueño oscuro</option>
                <option>Negro</option>
        </select>
        </td>
        </tr>
    <tr>
        <td>Sexo</td>
        <td>
            <select id="sex">
                <option>Hombre</option>
                <option>Mujer</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Edad</td>
        <td>
            <select id="age">
                <option>0 años</option>
                <option>1 a 5 años</option>
            </select>
        </td>
    </tr>
    </table>
</body>
</html>
